<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <h6>
        No.1 leading training provider in Make Up. Taught by industry professionals to give you a head start in your career.
    </h6>
    <h5>

    What we believe
</h5>
    <P>
<b>BUTTERCUP MAKEUP ACADEMY</b>  is one of the leading schools in the industry and it is in touch with the market. We are a progressive school with the most up to date training. Our syllabus implements this – taught by professional teachers in touch with the market and their influential attention to detail.
</P>
<p>
Our fresh and creative teaching methods,  taught by industry professionals,  developed from the need for a technically specific and online syllabus and is structured in a way to develop your style for your whole career.
</p>
<p>
Covering a whole range of skills a successful make-up artist needs to carry out safe and practical procedures, our goal is to give you the finest education possible from our comprehensive courses.
</p>
<p>
The Educators
Everyone who works for MAO has got vast amount of experience within the industry and is credited by their achievements in their portfolio. This means students will receive detailed teaching on technical creative techniques and skills, and also benefit from their contacts and commercial understanding as working therapists.
</p>
<p>
Class Hours/Schedule
The Academy is extremely flexible and all of our courses are can be taken as evening, weekday or evening classes.
</p>
<br>
<br>
<br>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>
